{
    "jsc": {
        "parser": {
            "syntax": "ecmascript",
            "decorators": true,
            "dynamicImport": true
        },
        "target": "es5",
        "transform": {
            "decoratorMetadata": true
        }
    }
}